snippet date "日期" b
`date "+%Y-%m-%d %H:%M:%S"`
endsnippet

snippet time "时间" b
`date "+%Y-%m-%d %H:%M:%S"`
endsnippet

snippet pwd "当前目录" b
`pwd`
endsnippet

snippet code_format "代码格式化" b
# file: .clang-format
BasedOnStyle:  Google
endsnippet

snippet codename "ubuntu code name" b
16.04 xenial
18.04 bionic
20.04 focal
22.04 jammy
endsnippet
