snippet image "插入图片" b
![${1: 图片注释}](${2: 图片链接})
endsnippet

snippet table "插入表格" b
| ${1: 表头} | ${2: 表头} |
| ---- | ---- |
| ${3: 内容} | ${3: 内容} |
endsnippet

snippet link "插入链接" b
[${1: 链接注释}](${2: 链接})
endsnippet
